/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexCol{
  display:flex;
  flex-direction: column;
}

.button{
  cursor:pointer;
  -webkit-app-region: no-drag;
}

.notDraggable{
  -webkit-app-region: no-drag;
}